<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <title>Inventory Picklist</title>
    <style>
    table {
        width: 50%;
        counter-reset: row-num -2;
    }
    table tr {
        counter-increment: row-num;
    }
    table tr td:first-child::before {
        content: counter(row-num) ". ";
    }
    </style>
</head>
<body>
<div class="container px-4 py-5">
    <div class="container"><p><h2>Picking List</h2><p>
        <hr class="hr" />
        <a class="btn btn-link" href="{% url 'MainMenu' %}">Main Menu</a>
        <hr class="hr" />
        <!-- alert -->
        {% if messages %}
        {% for messages in messages %}
        {% if messages.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <div class="alert alert-success border-0 alert-dismissible fade show" role="alert">{{messages}}
            <a class="btn-close" aria-label="Close" href="{% url 'ViewPicking' %}"></a></div>
        {% elif messages.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <div class="alert alert-danger border-0 alert-dismissible fade show" role="alert">{{messages}}
            <a class="btn-close" aria-label="Close" href="{% url 'ViewPicking' %}"></a></div>
        {% elif messages.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
        <div class="alert alert-warning border-0 alert-dismissible fade show" role="alert">{{messages}}
            <a class="btn-close" aria-label="Close" href="{% url 'ViewPicking' %}"></a></div>
        {% endif %}
        {% endfor %}
        {% else %}<div id="alert"></div>
        {% endif %}
        <!-- alert -->
        <table class="table table-hover table-bordered table-sm">
            <thead>
                <tr>
                    <th colspan="8">
                        <form name="myForm" onsubmit="return validateForm()" action="{% url 'ResultPicking' %}" method="GET" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="input-group p-2">
                                <span class="h-formfield-uppercase">
                                    <input class="form-control form-control-sm shadow-none" type="text" id="name" name="q" placeholder="Search..." />
                                </span>
                                <input class="btn btn-primary btn-sm col-1" type="submit" value="Search" />
                                <a class="btn btn-outline-secondary btn-sm col-1" href="{% url 'ViewPicking' %}">&#10227; Reset</a>
                            </div>
                        </form>
                    </th>
                </tr>
                <tr>
                    <th style="width: 5%;">No.</th>
                    <th>No. Product</th>
                    <th>Prod. Description</th>
                    <th>Qty.</th>
                    <th>No. Location</th>
                    <th>Storage</th>
                    <th>Tooling Area Part</th>
                    <th>Action</th>
                </tr>
            </thead>{% if object_list %}
            <tbody>{% for data in object_list %}
                <tr>
                    <td></td>
                    <td>{{data.prod_code_id}}</td>
                    <td>{{data.prod_code.prod_desc}}</td>
                    <td>{{data.qty}}</td>
                    <td>{{data.no_loc_id}}</td>
                    <td>{% if data.no_loc.storage == 'CT' %}
                        CABINET
                        {% elif data.no_loc.storage == 'CC' %}
                        CABINET CHEMICAL
                        {% elif data.no_loc.storage == 'FR' %}
                        FLOOR
                        {% elif data.no_loc.storage == 'RK' %}
                        RACK
                        {% endif %}
                    </td>
                    <td>
                        {% if data.no_loc.area == 'BL' %}
                        BLOW
                        {% elif data.no_loc.area == 'IN' %}
                        INJECTION
                        {% elif data.no_loc.area == 'CH' %}
                        CHEMICAL (MAINTENANCE)
                        {% elif data.no_loc.area == 'CE' %}
                        CONSUMABLE ELECTRICAL
                        {% elif data.no_loc.area == 'CM' %}
                        CONSUMABLE MECHANICAL
                        {% elif data.no_loc.area == 'VA' %}
                        VACUUM
                        {% endif %}
                    </td>
                    <td><a class="btn btn-warning btn-sm col-4" href="{% url 'UpdatePicking' data.id %}">Take</a>
                        &nbsp;<div class="vr"></div>&nbsp;
                    <a class="btn btn-primary btn-sm" href="">Detail</a></td>
                </tr>{% endfor %}{% endif %}
            </tbody>
        </table>
    </div>
</div>
</body>
<script>
function validateForm() {
    var a = document.forms["myForm"]["name"].value;
    if (a == ""){
        document.getElementById("alert").innerHTML = "<div class='alert alert-warning border-0' role='alert'>Fill the form to be submitted.</div>";
        return false;}}
</script>
</html>