<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <title>Update Picking</title>
    <style>
    .h-formfield-uppercase input {
      text-transform: uppercase;
    }
    ::-webkit-input-placeholder { /* WebKit browsers */
        text-transform: none;
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        text-transform: none;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
        text-transform: none;
    }
    :-ms-input-placeholder { /* Internet Explorer 10+ */
        text-transform: none;
    }
    ::placeholder { /* Recent browsers */
        text-transform: none;
    }
    </style>
</head>
<body>
    <div class="container px-4 py-5">
        <div class="container"><p><h2>Picking Adjustment</h2><p>
            <hr class="hr" />
            <a class="btn btn-link" href="{% url 'MainMenu' %}">Main Menu</a>
            <hr class="hr" />
            <form name="myForm" onsubmit="return validateForm()" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <!-- alert -->
                {% if messages %}
                {% for messages in messages %}
                {% if messages.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div class="alert alert-success border-0 alert-dismissible fade show" role="alert">{{messages}}
                    <a class="btn-close" aria-label="Close" href="{% url 'UpdatePicking' data.id %}"></a></div>
                {% elif messages.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="alert alert-danger border-0 alert-dismissible fade show" role="alert">{{messages}}
                    <a class="btn-close" aria-label="Close" href="{% url 'UpdatePicking' data.id %}"></a></div>
                {% elif messages.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                <div class="alert alert-warning border-0 alert-dismissible fade show" role="alert">{{messages}}
                    <a class="btn-close" aria-label="Close" href="{% url 'UpdatePicking' data.id %}"></a></div>
                {% endif %}
                {% endfor %}
                {% else %}<div id="alert"></div>
                {% endif %}
                <!-- alert -->
                <table class="table table-hover table-bordered table-sm">
                    <thead>
                        <tr>
                          <th>No. Product</th>
                          <th>Product Description</th>
                          <th>No. Location</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr><td>{{data.prod_code_id}}</td>
                            <td>{{data.prod_code.prod_desc}}</td>
                            <td>{{data.no_loc_id}}</td>
                        </tr>
                    </tbody>
                </table>
              <table class="table table-hover table-bordered table-sm">
                    <thead>
                        <tr>
                          <th style="width: 15%;">Qty.</th>
                          <th style="width: 15%;">Qty. Adjust.</th>
                          <th>Adjust. Type</th>
                          <th style="width: 15%;">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="hidden" name="id" value="{{data.id}}"/>
                                <input class="form-control" type="text" value="{{data.qty}}" readonly /></td>
                            <td><input class="form-control shadow-none" type="text" id="qty_adj" name="qty_adj" placeholder=0 /></td>
                            <td><select class="form-select shadow-none" name="adjust">
                              <option value="AO">AO - ADJUST. OUT</option>
                              <option value="AI">AI - ADJUST. IN</option>
                            </select></td>
                            <td><input class="btn btn-success btn-sm mt-1" type="submit" value="Submit">
                                &nbsp;<div class="vr"></div>&nbsp;
                                <a class="btn btn-warning btn-sm mt-1" href="{% url 'ViewPicking' %}">Cancel</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
            <hr class="hr" />
            <p>Latest Adjustment</p>
        <table class="table table-hover table-bordered table-sm">
            <thead>
            <tr>
                    <th>No. Location</th>
                    <th>No. Product</th>
                    <th>Trans. Type</th>
                    <th>Adj. Type</th>
                    <th>Qty. Before</th>
                    <th>Qty. Adj.</th>
                    <th>Qty. After</th>
                    <th>Create Date</th>
                </tr>
            </thead>
            <tbody>{% for data in object_list %}
                <tr>
                    <td>{{data.no_loc}}</td>
                    <td>{{data.prod_code}}</td>
                    <td>{{data.trans_type}}</td>
                    <td>{{data.adj_type}}</td>
                    <td>{{data.qty_bfr}}</td>
                    <td>{{data.qty_adj}}</td>
                    <td>{{data.qty_afr}}</td>
                    <td>{{data.date_created|date:"d/m/Y"}} {{data.date_created|date:"H:i"}}</td>
                </tr>{% endfor %}
            </tbody>
        </table>
        </div>
    </div>
</body>
<script>
function validateForm() {
    var a = document.forms["myForm"]["qty_adj"].value;
    if (a == ""){
        document.getElementById("alert").innerHTML = "<div class='alert alert-warning border-0' role='alert'>Fill the form to be submitted.</div>";
        return false;
    }
}
</script>
</html>