<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <title>List Product</title>
    <style>
    .h-formfield-uppercase input {
      text-transform: uppercase;
    }
    ::-webkit-input-placeholder { /* WebKit browsers */
        text-transform: none;
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        text-transform: none;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
        text-transform: none;
    }
    :-ms-input-placeholder { /* Internet Explorer 10+ */
        text-transform: none;
    }
    ::placeholder { /* Recent browsers */
        text-transform: none;
    }
    </style>
    <style>
    table {
        width: 50%;
        counter-reset: row-num -2;
    }
    table tr {
        counter-increment: row-num;
    }
    table tr td:first-child::before {
        content: counter(row-num) ". ";
    }
    </style>
</head>
<body>
<div class="container px-4 py-5">
    <div class="container"><p><h2>List of Master Products</h2><p>
        <hr class="hr" />
        <a class="btn btn-link" href="{% url 'MainMenu' %}">Main Menu</a>
        &nbsp;<div class="vr"></div>&nbsp;
        <a class="btn btn-link" href="{% url 'AddProduct' %}">New Product</a>
        <hr class="hr" />
        <!-- alert -->
        {% if messages %}
        {% for messages in messages %}
        {% if messages.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <div class="alert alert-success border-0 alert-dismissible fade show" role="alert">{{messages}}
            <a class="btn-close" aria-label="Close" href="{% url 'ViewProduct' %}"></a></div>
        {% elif messages.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <div class="alert alert-danger border-0 alert-dismissible fade show" role="alert">{{messages}}
            <a class="btn-close" aria-label="Close" href="{% url 'ViewProduct' %}"></a></div>
        {% elif messages.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
        <div class="alert alert-warning border-0 alert-dismissible fade show" role="alert">{{messages}}
            <a class="btn-close" aria-label="Close" href="{% url 'ViewProduct' %}"></a></div>
        {% endif %}
        {% endfor %}
        {% else %}<div id="alert"></div>
        {% endif %}
        <!-- alert -->
        <table class="table table-hover table-bordered table-sm">
            <thead>
                <tr>
                    <th colspan="9">
                        <form name="myForm" onsubmit="return validateForm()" action="{% url 'ResultProduct' %}" method="GET" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="input-group p-2">
                                <span class="h-formfield-uppercase">
                                    <input class="form-control shadow-none form-control-sm" type="text" id="name" name="q" placeholder="Search..." />
                                </span>
                                <input class="btn btn-primary btn-sm col-1" type="submit" value="Search" />
                                <a class="btn btn-outline-secondary btn-sm col-1" href="{% url 'ViewProduct' %}">&#10227; Reset</a>
                            </div>
                        </form>
                    </th>
                </tr>
                <tr>
                    <th style="width: 5%;">No.</th>
                    <th colspan="2">Location</th>
                    <th style="width: 15%;">No. Product</th>
                    <th>Product Description</th>
                    <!--<th>Supplier</th>
                    <th>Min. Stock</th>
                    <th>Max. Stock</th>
                    <th>Lead Time (Days)</th> -->
                    <th>Status</th>
                    <th style="width: 15%;">Action</th>
                </tr>
            </thead>{% if object_list %}
            <tbody>{% for data in object_list %}
                <tr>
                    <td></td>
                    {% if data.no_loc_id == None %}
                    <td style="width: 7%;">{{data.no_loc_id|default:"--"}}</td>
                    <td>{% if data.prod_code.status == 'ACTIVE' %}<a href="{% url 'EditNewline' data.id %}">&#9998;</a>{% else %}
                    {% endif %}</td>
                    {% else %}
                    <td style="width: 7%;">{{data.no_loc_id}}</td>
                    <td><a class="text-danger" href="{% url 'DeleteNewline' data.id %}">&#x2715;</a></td>
                    {% endif %}
                    <td>{{data.prod_code_id}}</td>
                    <td>{{data.prod_code.prod_desc}}</td>
                    <!-- <td>{{data.supplier}}</td>
                    <td>{{data.stock_min}}</td>
                    <td>{{data.stock_max}}</td>
                    <td>{{data.l_time_days}}</td> -->
                    {% if data.prod_code.status == 'ACTIVE' %}<td class="text-success">{{data.prod_code.status}}</td>{% else %}
                    <td class="text-danger">{{data.prod_code.status}}</td>{% endif %}
                    <td><a class="btn btn-warning btn-sm col-4" href="{% url 'EditProduct' data.prod_code_id %}">Edit</a>
                    &nbsp;<div class="vr"></div>&nbsp;
                    <a class="btn btn-primary btn-sm" href="{% url 'DetailProduct' data.prod_code_id %}">Detail</a></td>
                </tr>{% endfor %}{% endif %}
            </tbody>
        </table>
    </div>
</div>
</body>
<script>
function validateForm() {
    var a = document.forms["myForm"]["name"].value;
    if (a == ""){
        document.getElementById("alert").innerHTML = "<div class='alert alert-warning border-0' role='alert'>Fill the form to be submitted.</div>";
        return false;}}
</script>
</html>